<h3>
  {{title}}
</h3>

<div class="col-md-7">
    <form>
        <p>
          <label>Nombre</label>
          <input type="text" class="form-control" placeholder="Ingrese nombre">
        </p>
        <p>
          <label>Descripcion</label>
          <input type="text" class="form-control" placeholder="Ingrese una descripcion">
        </p>
        <p>
          <label>Año</label>
          <input type="text" class="form-control" placeholder="Año">
        </p>
      
          <input type="submit" class="btn btn-success" value="Crear nuevo">
        
      </form>
</div>